@charset "UTF-8";
body,
code {
  font-family: '나눔바른고딕', 'Nanum Barun Gothic', '맑은 고딕', '돋움', dotum, sans-serif;
  font-size: 14px;
}

body {
  min-width: 1200px;
}

header {
  background: #2a3440;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  line-height: 48px;
}
header h1 {
  font-size: 50px;
}
header p {
  color: #c7cad3;
  font-size: 24px;
}

.sample1,
.sample2 {
  background-color: #ababab;
}

.heading {
  background: #dfe1e8;
  font-size: 35px;
  font-weight: 600;
  padding: 40px;
}

.contents:after, .contents:before {
  content: "";
  display: block;
}
.contents:after {
  clear: both;
}

section.list {
  width: 40%;
  float: left;
  padding: 2% 5%;
}
section.list h1 {
  font-size: 25px;
}
section.list ul {
  margin-top: 15px;
}
section.list ul li {
  margin-left: 45px;
  padding: 2px 0;
  list-style: disc;
  font-size: 14px;
  line-height: 18px;
}
section.list.html {
  clear: both;
}

.content {
  display: table;
  width: 100%;
  border: 1px solid #eee;
}
.content .guide {
  background: #fff;
  display: table-cell;
  padding: 50px;
  width: 50%;
  font-size: 18px;
}
.content .guide h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}
.content .guide a {
  text-decoration: underline;
  color: #0000ee;
}
.content .guide li {
  list-style: square;
  margin-left: 30px;
}
.content .view {
  background: #f7f7f9;
  display: table-cell;
  padding: 50px;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}
.content .view pre {
  text-align: left;
}
.content .view .logo-webstorm {
  background-color: rgba(70, 145, 177, 0.5);
  box-shadow: 0 0 20px rgba(70, 145, 177, 0.5);
  border-radius: 20px;
  padding: 20px;
  width: 314px;
  height: 58px;
  margin: 0 auto;
}
.content .view .logo-webstorm span {
  background-image: url(//www.jetbrains.com/img/logos/jb-logos-sprite.svg);
  background-position: -8em -10em;
  background-repeat: no-repeat;
  background-size: 1728px 2520px;
  display: inline-block;
  font-size: 108px;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 30px 0;
}

/*# sourceMappingURL=guide.css.map */
