html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
section {
    margin: 0;
    padding: 0
}

fieldset,
img {
    border: 0 none
}

dl,
ul,
ol,
menu,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

input,
select,
textarea,
button {
    vertical-align: middle
}

button {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
th,
td,
input,
select,
textarea,
button {
    font-size: 12px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Anchor Element Style */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    background-color: transparent;
}

/* HTML5 Element  Style */

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal;
}

header,
main,
section,
aside,
article,
footer {
    display: block;
}

del {
    text-decoration: line-through;
}